// Devices
$device-xs: 480px;
$device-sm: 600px;
$device-md: 720px;
$device-lg: 960px;
$device-xl: 1200px;

// So media queries don't overlap when required, provide a maximum
$device-xs-max: ($device-sm - 1);
$device-sm-max: ($device-md - 1);
$device-md-max: ($device-lg - 1);
$device-lg-max: ($device-xl - 1);

// Mobile variables
$mobile-padding: 10px;
$mobile-total-padding: $mobile-padding * 2;

.container--columns {
  @include container-column($device-xl);
}

.flex {
  @include media($device-sm) {
    @include display(flex);
  }
}

.flex__item {
  width: 100%;

  + .flex__item {
    @include media($device-sm) {
      margin-left: 4px;
    }
  }
}

.flex__item.flex--1{
  @include media($device-sm) {
    @include flex(1);
  }
}

.flex__item.flex--2{
  @include media($device-sm) {
    @include flex(2);
  }
}

.column--xs {
  max-width: $device-xs;
}

.column--md {
  max-width: $device-md;
}

.column--sm {
  max-width: $device-sm;
}

.column--lg {
  max-width: $device-lg;
}
