.section {
  display: block;
  width: 100%;
  margin-bottom: $spacing-section-bottom;

  h1,
  h2 {
    margin-bottom: $spacing-4x-v;
  }

  h2 {
    @include header-sizes(1.8em);
  }

  &.center {
    text-align: center;
  }

  &.justify {
    p {
      text-align: justify;
    }
  }
}

.section__title {
  text-alig: center;

  h1,
  h2 {
    margin-bottom: $spacing-1x-v;
  }

  h2 {
    @include header-sizes(1.8em);
  }

  margin-bottom: $spacing-section-top;

  @include media($device-sm) {
    margin-bottom: $spacing-section-top * 1.2;
  }
}

.section__subtitle {
  @include container-column($device-lg, $device-md);
}

.subsection {
  margin-left: $spacing-4x-h;
  margin-top: $spacing-8x-v;
  margin-bottom: $spacing-8x-v;
}
